.titleDiv {
  margin-top: 5%;
}

.btnModify {
  display: flex;
  justify-content: space-evenly;
}

.stepDiv {
  background-color: #714fff;
  border-radius: 50%;
  width: 50px; /* replace with your desired width */
  height: 50px; /* replace with your desired height */
  margin: 10; /* This centers the element horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerBtn {
  display: flex;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
