.iconDiv {
  background-color: #714fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.flowDiv {
  background-color: #714fff;
  border-radius: 50%;
  max-width: 150px; /* Set a maximum width to maintain circular shape */
  width: 140px;
  height: 140px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  aspect-ratio: 1; /* Maintain a 1:1 aspect ratio for a perfect circle */
}

ion-icon {
  color: white;
}

.flowContent {
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word; /* Allow text to break into the next line */
}
